.hero {
  display: flex;
  height: 90vh;
}
.hero-image {
  flex: 1;
  background: url("./Home.jpg") no-repeat center;
  background-size: cover;
}
.hero-content {
  flex: 1;
  background: #0f2a3f;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}
.hero-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ddd;
}
.hero-btn {
  width: fit-content;
  padding: 12px 25px;
  background: #ff6b5c;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #ff4b3a;
  transform: scale(1.05);
}